header  {
    max-width: 960px;
    margin: 0 auto;
    background-image: url("image/header.jpg");
    height: 300px;
}
body {
    background-repeat: no-repeat;
}
footer {
	background-color: black;
	clear: both;
}
footer p {
	text-align: center;
	padding: .5rem;
	font-size: .8rem;
	font-weight: 600;
	color: white;
}